body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: #e5e7eb;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 60px;
  background: #020617;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  padding: 20px;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background: #020617;
  border-radius: 12px;
  padding: 20px;
}

.temp {
  font-size: 48px;
}

